/* profile.css */
.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.align-items-center {
    align-items: center;
}

.profile-image {
    margin-right: 15px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me {
    margin-bottom: 20px;
}

.current-rental {
    margin-bottom: 20px;
    text-align: right;
    display: flex;
}

.w-100 {
    width: 100%;
}

@media (max-width: 767.98px) {
    .text-md-end {
        text-align: left;
    }
}
