/* apartment.css */
.apartment-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.carousel-item-custom {
  text-align: center;
}

.carousel-image {
  height: 600px; /* Увеличенная высота изображения */
  width: auto;
  object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%); /* Сделаем кнопки белыми, чтобы они были видны на темном фоне */
}

.map-container {
 width: 100%;
 height: 100%;
}

.description-divider {
  border-bottom-style: dotted;
  flex-grow: 1;
  border-bottom-color: lightgray;
}